<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <section>
                    <h1 class=" category__title m-top-1">
                        Login
                    </h1>
                    <% if(errorMessage) { %>
                    <div class="user-message user-message--error">
                      <%= errorMessage %>
                    </div>
                    <% } %>
                    <form class="login-form" action="/reset" method="POST">
                        <div class="form-control">
                            <label for="email">E-Mail</label>
                            <input type="email" name="email" id="email">
                        </div>
                        
                        <input type="hidden"  name="_csrf" value="<%= csrfToken %>">
                        <button class="btn" type="submit">Reset password</button>
                    </form>
                </section>
            </main>
            <%- include('../includes/end.ejs') %>