<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <section>
                    <h1 class=" category__title m-top-1">
                        Signup
                    </h1>
                    <% if(errorMessage) { %>
                        <div class="user-message user-message--error">
                          <%= errorMessage %>
                        </div>
                        <% } %>
                    <form class="login-form" action="/signup" method="POST" novalidate>
                        <div class="form-control">
                            <label for="email">E-Mail</label>
                            <input 
                            class=" <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                            type="email" 
                            name="email" 
                            id="email"   
                            value="<%= oldInput.email %>">
                        </div>
                        <div class="form-control">
                            <label for="name">Full name</label>
                            <input 
                            class="<%= validationErrors.find(e => e.param === 'name') ? 'invalid' : '' %>"
                            type="text" 
                            name="name" 
                            id="name"  
                            value="<%= oldInput.name %>">
                        </div>
                        <div class="form-control">
                            <label for="password">Password</label>
                            <input class=" <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>" type="password" name="password" id="password"  value="<%= oldInput.password %>">
                        </div>
                        <div class="form-control">
                            <label for="confirmPassword">Confirm Password</label>
                            <input class=" <%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>" type="password" name="confirmPassword" id="confirmPassword"  value="<%= oldInput.confirmPassword %>">
                        </div>
                        <div class="centerd">

                            <input type="hidden"  name="_csrf" value="<%= csrfToken %>">
                            <button class="btn" type="submit">Signup</button>
                        </div>
                    </form>
                </section>
            </main>
            <%- include('../includes/end.ejs') %>