<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/author.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (auths.length > 0) { %>
                    <section>
                        <h1 class=" category__title_admin m-top-1">
                            Admin authors list
                        </h1>
                        <hr>
                        
                            <ul class="cards">
                       
                                <% for (let author of auths) { %>
                                   
                                        <li>
                                            <div class="card__author">
                                              <img src="<%= author.imageUrl %>" class="card__image" alt="" />
                                              <div class="card__overlay">
                                                <div class="card__header">
                                                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                                                 
                                                  <div class="card__header-text">
                                                    <h3 class="card__title"><%= author.name %></h3>            
                                                    
                                                  </div>
                                                </div>
                                                <div class="padding-1 centered ">
        
                                                    <p class="card__description"><%= author.description %></p>
                                                    <a href="/admin/edit-author/<%= author._id %>?edit=true" class="btn">Edit</a>
                                                    <form action="/admin/delete-author" method="POST">
                                                        <input type="hidden"  name="_csrf" value="<%= csrfToken %>">
                                                        <input type="hidden" value="<%= author._id %>" name="authorId">
                                                        <button class="btn" type="submit">Delete</button>
                                                    </form>
                                                    
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>      
                                        
                                          </li>
                                   
                                    <% } %>
                                </ul>


                            </section>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>