<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <section class="m-top-1">
            <h1 class="category__title">
               Some error occurred!!
            </h1>
            <p class="centered"> we are working on fixing this, sorry for the inconvenience!</p>
            <hr>
        </section>
    </main>

<%- include('includes/end.ejs') %>