.cart__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: auto;
  width: 30rem;
  max-width: 90%;
}

.cart__item {
  display: flex;
  align-items: center;
  width: 100%;
  /* justify-content: space-around; */
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-bottom: 1rem;
}

.cart__item h1,
.cart__item h2 {
  /* margin-right: 1rem; */
  font-size: 1.2rem;
  margin: 0;
}

.card__image_cart {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
}

.cart__content {
  display: flex-column;
  justify-content: space-around;
  align-items: flex-end ;
}

.cart__content_text {
  width: fit-content;
  display: flex;
  justify-content: space-between;
} 

.card__image_cart img {
  width: 60%;
}
