@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  --main-color: #F6192A;
  --sec-color: #e0e0e0;
  --sec-colorNav: #bfbdbd;
  --accent-color: #7C400A;
  --base-color: #fdfdfd;
  --admin-color: rgba(0, 0, 0, 0.904); 
  --curve: 40;
  /* --surface-color: #fff; */
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Gentium Book Basic', serif;
  background-color: var(--base-color);
}


.footer {
  position: relative;
  top: 20px;
  bottom: 24px;
  
}

.m-x {
  margin-left: 50px !important;
}
.m-x-2 {
  margin-left: auto !important;
  margin-right: auto !important;
 
}
.m-t {
  margin-top: 30px !important;
}

.m-top-1 {
  margin-top: 80px;
}


.category__title m-top-1 {
  margin-top: 80px;
  text-align: center;
  /* color: #3e2006; */
  background: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur( 7.5px );
}
.category__title_admin m-top-1 {
  margin-top: 80px;
  text-align: center;
  /* color: #3e2006; */
  background: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur( 7.5px );
}

.padding-1 {
 padding: 1rem;
}
.padding-2 {
 padding: 2rem;
}
.padding-3 {
 padding: 3rem;
}

.border-box {

  box-sizing: border-box;
}

.tc-main {
  color: var(--main-color);
}
.tc-sec {
  color: var(--sec-color);
}
.tc-accent {
  color: var(--accent-color);
}
.tc-base {
  color: var(--base-color);
}
.bold {
  font-size: 1.2rem !important;
  text-align: center !important;
  font-weight: bolder;
  padding-top: 70px !important;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.578);
}

.text-justify {
  text-align: justify;
}
main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.image {
  height: 20rem;
}

.image img {
  height: 100%;
}
@media screen and (min-width: 400px) {
  .masthead {
    height: 100vh;
    background-image: url('../img/book-1462773_1920.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  
  }
  
}

.masthead {
  height: 100vh;
  background-image: url('../img/book-1462773_1920.jpg');
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.masthead-admin {
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.285), rgba(255, 255, 255, 0.286)), url('../img/admin-maste.jpg');
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex-column;
  align-items: center;
  justify-content: center;
  
}

.masthead_text {
  text-align: end;
  letter-spacing: 1px;
  padding: 25px;
  font-size: 16px;
  
}


.main-header {
  width: 100%;
  height: 3.5rem;
  z-index: 1000;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  background-color: var(--main-color);
  /* border: 4px solid var(--accent-color); */ 
  padding: 0 1.5rem;
  display: flex;
  justify-content: center ;
  align-items: center;
  position: fixed;
  border-radius: 7px;
}
.main-header-admin {
  width: 100%;
  height: 3.5rem;
  z-index: 1000;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  background-color: var(--admin-color);
  /* border: 4px solid var(--accent-color); */ 
  padding: 0 1.5rem;
  display: flex;
  justify-content: center ;
  align-items: center;
  position: fixed;
  border-radius: 7px;

}

.main-header__nav {
  height: 100%;
  display: none;
  align-items: center;
  
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0px;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a, .main-header__item p {
  text-decoration: none;
  color: var(--sec-color);
  font-size: 19px
}


.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active, 
.main-header__item a i:hover,
.main-header__item a i:active,
.main-header__item a i.active {
  color: var(--accent-color);
 
}

.main-header__item button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: var(--sec-color);
  font-size: 19px;
  font-family: 'Gentium Book Basic', serif;
}



.main-header__item button:hover,
.main-header__item button:active,
.main-header__item button.active {
  color: var(--accent-color);
  cursor: pointer;
 
}

.underline-cstm {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.underline-cstm::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--accent-color);
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.underline-cstm:hover:before, .underline-cstm:focus:before, .underline-cstm:active:before {
  left: 0;
  right: 0;
}


.counter {
  background-color:black;
  border: var(--main-colorNav) solid 2px ;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 12px;
  position: absolute;
  right: auto;
  font-size: 13px;
  color: var(--base-color);
  
}



.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  margin-top: 50px;
  border-radius: 15px;
  left: 0;
  top: 0;
  background: var(--sec-colorNav);
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: var(--base-color);
  font-size: 1.3rem;
  padding: 0.3rem 0.9rem;
}
.mobile-nav__item p {
  text-decoration: none;
  color: var(--base-color);
  font-size: 1.3rem;
  padding: 0.3rem 0.9rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: var(--accent-color);
  color: var(--base-color);
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid var(--accent-color);
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: var(--accent-color);
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: var(--ase-color);
  border-color: var(--sec-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  min-height: 82vh;
  
}
.category {
  display: flex;
  justify-content: center;
}
.category__title {
  text-align: center;
  font-size: 24px;
  color: var(--accent-color);
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px #b8b9be,inset -3px -3px 7px #fff!important;
}
.category__title_admin {
  text-align: center;
  font-size: 24px;
  color: black;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px #b8b9be,inset -3px -3px 7px #fff!important;
}

.card {
  flex-basis: 23.33333%;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.26);
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1;
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  /* border: 1px solid var(--accent-color); */
  color: var(--accent-color);
  background: white;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1;
}

.btn:hover,
.btn:active {
  background-color: var(--accent-color);
  color: var(--base-color);
  box-shadow: -3px -3px 7px #ffff,
               3px 3px 5px #7C400A;
}

.btn.danger {
  color: red;
  border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
  background: rgb(24, 187, 157);
  color: white;
}
.btn.info {
  color: rgb(65, 65, 182);
  border-color: rgb(24, 187, 157);
}

.btn.info:hover,
.btn.info:active {
  background: rgb(24, 187, 157);
  color: white;
}


footer {
  height: 70px;
  width: 100%;
  z-index: 1000;
  padding-top: 8px;
  border: 1px solid transparent;
  background-color: var(--sec-color);
  border-radius: 5px;
  box-shadow: -3px -3px 7px #ffffff2d,
               3px 3px 5px #ceced11f;
}


@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}




.site-footer
{
  padding:45px 10px 20px;
  font-size:15px;
  line-height:24px;
  color:var(--sec-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 0.3);

 
}


.copyright-text
{
  margin:0;
  text-align: center;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
  .card {
    flex-basis: 35%;
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
 .copyright-text .social-icons
  {
    text-align:center
  }
  .card {
    flex-basis: 50%;
  }
}
.social-grid {
  display: flex;
  justify-content: center;
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
  border: 1px solid transparent;
  box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1;
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

.user-message {
  margin: auto;
  width: 90%;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(117, 126, 230);
  border: 1px solid rgb(16, 125, 233);
  color: var(--base-color);
}

.user-message--error {
  border-color: rgb(238, 140, 140);
  color: var(--base-color);
  background-color: rgb(171, 71, 88);
}

.admin-message {
  margin: auto;
  width: 50%;
  padding: 0.8rem;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(117, 126, 230);
  border: 1px solid rgb(16, 125, 233);
  color: var(--base-color);
  position: absolute;
  top: auto;
  right: 25%;
  z-index: 1000;
  
}

.admin-message--error {
  border-color: rgb(238, 140, 140);
  color: var(--base-color);
  background-color: rgb(171, 71, 88) !important;

}


.pagination {
  text-align: center;
  margin-top: 2rem;
}
.pagination a {
  text-decoration: none;
  color:var(--accent-color);
  padding: 2px 6px;
  border: 1px solid var(--sec-color);
  margin: 0 1rem;
  font-size: 1.5rem;
  border-radius: 10%;
}
.pagination a:hover, .pagination a:active, .pagination a.active {
  background: var(--sec-colorNav);
  color: var(--base-color);
 
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
  .user-message {
    width: 30rem;
  }
}



