<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="grid">
            <section class="m-top-1">
                <h1 class="category__title">
                    Cart
                </h1>
                <hr>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <div class="card__image_cart">
                                <img class="cart__image" src="<%= p.productId.imageUrl %>" alt="<%= p.productId.title %>">
                            </div>
                            <div>
                            <div class="cart_content">
                            <h1>Autore: <%= p.productId.title %></h1>
                            <hr>
                            <h2>Quantity: <%= p.quantity %></h2>
                            <hr>
                            <h2 > Price: <%= p.productId.price %>$ </h2>
                                <hr>
                               
                            </div>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden"  name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                            
                        </div>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                    <!-- <form action="/create-order" method="POST">
                        <input type="hidden"  name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="btn">Order Now!</button>
                    </form> -->
                    <a class="btn info" href="./checkout">Order now</a>

                </div>
            </section> 
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>