<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="grid">
            <section class="m-top-1">
                <h1 class="category__title">
                    Checkout
                </h1>
                <hr>
                <ul class="cart__item-list m-top-1">
                        <% products.forEach(p => { %>
                            <li class="cart__item">
                                <h1><%= p.productId.title %></h1>
                                <h2>Quantity: <%= p.quantity %></h2>
                            </li>
                        <% }) %>
                </ul>
                    <div class="centered">
                        <h2>Total: <%= totalSum %> $</h2>
                    </div>
                    <div class="centered">
                        <button id="order-btn" class="btn">ORDER</button>
         
                    <script src="https://js.stripe.com/v3/"></script>
                    <script>
                        var stripe = Stripe('pk_test_51Iw57eK9raLUvqgLCf5zZmf18zBoQicJHoIDNsTmHUnAtyW00qJ1RiEpKxzrec2nmJwD73bI8oB1akCFzeYLeD4k001GOC4rV9');
                        var orderBtn = document.getElementById('order-btn');
                        orderBtn.addEventListener('click', () => {
                            stripe.redirectToCheckout({ //utilizziamo l'oggetto creato stripe per chiamare il reindirizzamento 
                                sessionId: '<%= sessionId %>' 
                            })
                        })
                    </script>
                </div>
            </section> 
        </main>
        <%- include('../includes/end.ejs') %>